@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
    html{
        overflow-x: hidden;
        scroll-behavior: auto;
        scroll-padding-top: 1rem; 
    }
    body {
        background-color: #fff;
        font-size: 16px;
        overflow-x: hidden;
        max-width: 1920px;
    }
    section {
        border-top: solid 1px #ececec;
        padding-top: 100px;
        padding-bottom: 100px;
        position: relative;
        
    }
    

    /* menu desktop header start */
    /* header.desktop-header .site-title {
        font-size: 24px;
        font-weight: 900;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
    } */
    /* header.desktop-header .site-title:hover{
        color:#9013fe;
        transition: 0.3s;
        cursor: pointer;
    } */
    /* header.desktop-header .vertical-menu {
        list-style: none;
        padding: 0;
        margin-bottom: 0;
        cursor: pointer;
    } */
    header.desktop-header .vertical-menu li {
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }
    /* header.desktop-header .vertical-menu li a {
        color: #000;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-weight: 700;
        width: 100%;
        text-transform: uppercase;
        text-decoration: none;
        position: relative;
    } */
    
    nav .vertical-menu li.active::after {
        content: "";
        background: #9013FE;
        width: 100%;
        height: 7px;
        left: 1px;
        opacity: 0.5;
        bottom: 11px;
        position: absolute;
        z-index: -1;
    }
    nav .vertical-menu li::after {
        content: "";
        background: #9013FE;
        width: 100%;
        height: 0;
        left: 1px;
        opacity: 0.5;
        bottom: 11px;
        position: absolute;
        z-index: -1;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
    header.desktop-header .vertical-menu li a:after {
        content: '';
        background: #9013FE;
        width: 100%;
        height: 0;
        left: 1px;
        opacity: .5;
        bottom: 0;
        position: absolute;
        z-index: -1;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
    /* header.desktop-header .vertical-menu li a:hover:after {
        height: 7px;
    } */
    /* header.desktop-header .social-items{
        margin-top: 40px;
        margin-bottom: 14px;
    } */
    /* header.desktop-header .social-items li{
        margin-right: 18.6px;
        margin-left: -1px;
    } */
    /* .list-inline-item a{
        color: #000;
    } */
    .social-items>li:hover a{
        color: #9013FE;
        transition: 0.3s;
    }
    /* menu desktop header end */
    

    /* section home start */
    /* .mouse {
        border: solid 3px #000;
        border-radius: 16px;
        display: block;
        margin: auto;
        height: 34px;
        position: relative;
        width: 25px;
        cursor: pointer;
    } */
    .mouse .wheel {
        /* background: #000;
        border-radius: 100%;
        display: block;
        position: absolute;
        top: 8px;
        left: 40%;
        transform: translateX(-50%);
        height: 5px;
        width: 5px; */
        -webkit-animation: ani-mouse 3s linear infinite;
        -moz-animation: ani-mouse 3s linear infinite;
        animation: ani-mouse 3s linear infinite;
    }
    @keyframes ani-mouse {
        0% {
            top: 29%;
        }
        15% {
            top: 50%;
        }
        50% {
            top: 50%;
        }
        100% {
            top: 29%;
        }  
    }
    /* section home end */


    /* section skills start */
    .skills-item .progress-bar {
        -webkit-box-shadow: none;
        -webkit-transition: width .6s ease;
        -o-transition: width .6s ease;
        transition: width .6s ease;
    }
    .skills-item .coding.progress-bar{
        width: 90%;
        animation: coding 1.2s ease-in-out;
    }
    .skills-item .wordpress.progress-bar{
        width: 75%;
        animation: wordpress 1.2s ease-in-out;
    }
    .skills-item .sketch.progress-bar{
        width: 85%;
        animation: sketch 1.2s ease-in-out;
    }
    .skills-item .jQuery.progress-bar{
        width: 88%;
        animation: jQuery 1.2s ease-in-out;
    }
    @keyframes coding{ 
        0%{
            width: 0%;
        }
        100%{
            width: 90%;
        }
    } 
    @keyframes wordpress{ 
        0%{
            width: 0%;
        }
    
        100%{
            width: 75%;
        }
    } 
    @keyframes sketch{ 
        0%{
            width: 0%;
        }
        100%{
            width: 85%;
        }
    } 
    @keyframes jQuery{ 
        0%{
            width: 0%;
        }
    
        100%{
            width: 88%;
        }
    } 
    /* section skills end */


    /* section works start */
    .portfolio-filter li:after {
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
    .portfolio-filter li.current {
        color: #000;
    }
    .portfolio-filter li.current:after {
        content: '';
        background: #9013FE;
        width: 100%;
        height: 7px;
        left: 0;
        opacity: .5;
        bottom: 1px;
        position: absolute;
        z-index: -1;
    }
    .portfolio-item .details h4{
        transform: translateY(30px);
        transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
    }
    .portfolio-item:hover .details h4, .portfolio-item:hover .details span{
        opacity: 1;
        transform: translateY(0);
    }
    .portfolio-item .details span{
        transform: translateY(40px);
        transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
    }
   
    .portfolio-item .details span:last-child::after {
        content: "";
        margin-right: 0;
    }
   
    .portfolio-item .mask {
        -webkit-transform: translateY(110%);
        -ms-transform: translateY(110%);
        transform: translateY(110%);
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
    .portfolio-item:hover .mask {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        cursor: pointer;
    }
    /* section works end */




    #return-to-top {
        position: fixed;
        bottom: 40px;
        right: 40px;
        background: #000;
        background: rgba(0, 0, 0, 0.5);
        width: 40px;
        height: 40px;
        display: block;
        text-decoration: none;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        display: none;
        z-index: 4;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
    }
    #return-to-top i {
        color: #fff;
        margin: 0;
        position: relative;
        left: 12px;
        top: 8px;
        font-size: 16px;
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        transform: translateY(0px);
        -webkit-transition: all 0.1s ease-in-out;
        -moz-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out;
    }
    #return-to-top:hover{
        background:#9013FE;
    }
}